.panel.is-link {
    .panel-heading {
        background-color: #3298DC;
    }

    .panel-block {
        font-size: 1.25em;
        background-color: $black;
        color: $text;

        .panel-icon {
            color: $text;
        }

        &:hover {
            background-color: lighten($black, 10%);
        }
    }
}