#nav-wrapper {
    background-color: $black;
}

.navbar {
    background-color: $black;
    width: 80%;
    margin: 0 auto;
}

#navbar-logo {
    font-size: 2em;
    font-weight: 700;

    span:nth-child(1) {
        margin-right: 10px;
        color: $white;
    }

    span:nth-child(2) {
        color: #000000;
        background-color: $orange;
        border-radius: 7px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-brand {
        justify-content: center;
    }

    .navbar-burger {
        position: absolute;
        right: 0;
    }

    .navbar-menu.is-active {
        display: flex;
        justify-content: center;
        background-color: $black;
    }
}