.imagelink {
    img {
        width: 256px;
        height: 256px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 1.5em;
        text-align: center;
    }

    &:hover {
        color: $orange;
        text-decoration: underline;
    }
}